body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 3px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: greenyellow;
    color: white;
    border-color: white;
}

.present{
    background-color: orange;
    color: white;
    border-color: white;
}

.absent{
    background-color: gray;
    color: white;
    border-color: white;
}

.button{
    position: absolute;
    margin: 20px 30px 30px -80px;
}
.keyboard-row{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tiles {
    /*box*/
    border: 1px solid lightgrey;
    width: 50px;
    height: 50px;
    margin: 1px;
    /*text*/
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tiles {
/*box*/

border: 1px solid lightgrey;
    width: 76px;
    height: 40px;
    margin: 1px;

/*text*/

font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

